<div id='app'>
	<div  class='app-panel'>
		<div id='image-select'>
			<span>Select an image type: </span>
			<select name="" id="image-type" (change)="changeImageControls()">
				<option value="stainedglass2">Stained Glass</option>
				<option value="quadimage">Quad Image</option>
				<option value="circles">Circle Image</option>
				<option value="voronoi" selected>Voronoi</option>
				<!-- <option value="moving">Moving Voronoi</option> -->
				<option value="fractal">Fractal</option>
				<option value="htree">H Tree</option>
				<option value="tsquare">T Square</option>
			</select>
		</div>
	</div>

	<div class='app-panel'>
		<div id='media'>
			<img id='image' src="" alt="" style='border: 1px solid black'> 
			<video controls autoplay loop id='video' type='video/mp4' src="" alt="" style='border: 1px solid black'></video>
		</div>
	</div>

	<div id='image-controls'  class='app-panel'>
		<div class='image-control' id='voronoi-controls'>
			<div class='control'>
				<span>Select color gradient: </span>
				<input id='color1' type="color" value='#123456' (change)="getVoronoiImage()">
				<p style='display: inline'> to </p>
				<input id='color2' type="color" value='#ffffff' (change)="getVoronoiImage()">
			</div>
		
			<div class='control'>
				<span>Distance Algorithm: </span>
				<select id='distance-algo' (change)="getVoronoiImage()">
					<option selected value='euclidean'>Euclidean</option>
					<option value='manhattan'>Manhattan</option>
					<option value='chebyshev'>Chebyshev</option>
				</select>
			</div>
      
			<div class='control'>
				<span>Splits (1 - 500): </span>
				<input id="regions" type="number" min="1" max = "500" value="100" (change)="getVoronoiImage()">
			</div>
			
			<div class='control'>
				<span>Lines: </span>
				<input id="lines" checked type="checkbox" (change)="getVoronoiImage()">
			</div>
		
			<div class='control'>
				<button (click)="getVoronoiImage()">Generate</button>
			</div>

			<div id='loading'>
				<div class="loader"></div>
				<span>Please be patient, generating the video may take up to a minute</span> 
			</div>
		</div>
				
		<div class='image-control' id='fractal-controls'>
			<div>
				<p style='display: inline'>Splits (0 - 7): </p>
				<input id="splits" type="number" min="0" max="7" value="3" (change)="getFractalImage()">
			</div>
		</div>

		<div class='image-control' id='input-controls'>
			<div class='control'>
				<span>Select an image: </span>
				<input id='image-file' type="file" accept=".png, .jpg, .jpeg" (change)="getStainglassImage()">
			</div>
			
			<div class='control'>
				<span>Distance Algorithm: </span>
				<select id='sg-dist-algo' (change)="getStainglassImage()">
					<option selected value='euclidean'>Euclidean</option>
					<option value='manhattan'>Manhattan</option>
					<option value='chebyshev'>Chebyshev</option>
				</select>
			</div>

			<div class='control'>
				<span>Splits (1 - 500): </span>
				<input id="sites" type="number" min="1" max="500" value="100" (change)="getStainglassImage()">
			</div>

			<div class='control'>
				<span>Lines: </span>
				<input id="sg-lines" checked type="checkbox" (change)="getStainglassImage()">
			</div>
			
			<div>
				<button (click)="getStainglassImage()">Generate</button>
			</div>

			<span>{{imgWarning}}</span>

			<div id='sg-loading'>
				<div class="loader"></div>
				<span>Please be patient, generating the image may take a few seconds</span> 
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>